/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  text-align: center;
  margin: 2em auto;
  background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #F0F0F0 100%);
  background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #F0F0F0 100%);
  background-image: -o-linear-gradient(top left, #FFFFFF 0%, #F0F0F0 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #F0F0F0));
  background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #F0F0F0 100%);
  background-image: linear-gradient(to bottom right, #FFFFFF 0%, #F0F0F0 100%);
}
form {
  text-align: center;
  margin: 2em auto;
}
table {
  text-align: center;
  margin: 2em auto;
}
table td {
  padding: 1em;
}
input {
  font-size: 6em;
}

